.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 400px;
  padding: 1em;
  border: 1px solid var(--cadet-grey);
  border-radius: 10px;
  overflow: hidden;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.product-image {
  width: 100px;
  height: auto;
}

.title {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.rating {
  font-size: 1em;
  opacity: 0.7;
}

.price {
  font-size: 1.3em;
  font-weight: bold;
}
