li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2em;
  padding: 0.5em;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.nav-title {
  color: var(--main-purple);
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.link {
  margin: 1em;
  cursor: pointer;
}

.active-link {
  text-decoration: underline;
  text-decoration-color: var(--light-purple);
  text-decoration-thickness: 5px;
}
